In [130]:
import pandas as pd
import numpy as np

In [104]:
df = pd.read_csv("VBOX _supervised.csv")

In [105]:
df_y = pd.read_csv("./abnormal_events.csv")

In [106]:
df_y.head()

   start_time  duration
0     72641.9       1.5
1     72654.4       0.4
2     72806.3       7.5
3     73833.1       2.8
4     73913.5       4.3

In [16]:
df.head()

,y,time,sats,long,lat,velocity,heading,height,vert-vel,GPS-Longacc,turn-radius,Centre-Line-Deviation,AbsHead,Longacc,Latacc,rel-height
0,NaN,71304.4,6,118.818824,31.892812,0.0,0.0,13.58,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,NaN,71451.5,8,118.818825,31.892807,0.0,0.0,11.42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NaN,71451.6,8,118.818825,31.892807,0.0,0.0,11.43,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NaN,71451.7,8,118.818825,31.892807,0.0,0.0,11.43,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,NaN,71451.8,8,118.818825,31.892807,0.0,0.0,11.43,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
df.loc[df['time'] == 72643.4]

,y,time,sats,long,lat,velocity,heading,height,vert-vel,GPS-Longacc,turn-radius,Centre-Line-Deviation,AbsHead,Longacc,Latacc,rel-height
7120,NaN,72643.4,6,118.818944,31.892799,14.103,356.57,9.25,0.072,0.74,9.11,-11.6,-723.43,0.74,0.31,-0.198

In [107]:
for index, row in df_y.iterrows():
    start = row['start_time']
    end = start + (row['duration'])
    for i in np.arange(start,end+0.05,0.1):
        index_val = df.index[df['time']==np.around(i,1)].tolist()[0] 
        df.at[[index_val],['y']] = int(1)

In [108]:
df.to_csv("VBOX _supervised1.csv",index=False)

In [109]:
df_with1 = pd.read_csv("./VBOX _supervised1.csv")

In [110]:
df_with1["y"] = df["y"].fillna(int(0))

In [111]:
df_with1.to_csv("VBOX _supervised1.csv",index=False)

In [112]:
df = pd.read_csv("VBOX _supervised1.csv")
df.head()

,y,time,sats,long,lat,velocity,heading,height,vert-vel,GPS-Longacc,turn-radius,Centre-Line-Deviation,AbsHead,Longacc,Latacc,rel-height
0,0.0,71304.4,6,118.818824,31.892812,0.0,0.0,13.58,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,71451.5,8,118.818825,31.892807,0.0,0.0,11.42,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,71451.6,8,118.818825,31.892807,0.0,0.0,11.43,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,71451.7,8,118.818825,31.892807,0.0,0.0,11.43,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,71451.8,8,118.818825,31.892807,0.0,0.0,11.43,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Reducing rows

## dropping rows with abnormal behaviour

In [122]:
df = pd.read_csv("VBOX _supervised1.csv")
index_val_y1 = df[df['y'] == 1 ].index

In [116]:
df.drop(index_val_y1,inplace=True)

Int64Index([], dtype='int64')

In [118]:
df1 = df.groupby(np.arange(len(df))//10).mean()

In [121]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4926 entries, 0 to 4925
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   y                      4926 non-null   float64
 1   time                   4926 non-null   float64
 2   sats                   4926 non-null   float64
 3   long                   4926 non-null   float64
 4   lat                    4926 non-null   float64
 5   velocity               4926 non-null   float64
 6   heading                4926 non-null   float64
 7   height                 4926 non-null   float64
 8   vert-vel               4926 non-null   float64
 9   GPS-Longacc            4926 non-null   float64
 10  turn-radius            4926 non-null   float64
 11  Centre-Line-Deviation  4926 non-null   float64
 12  AbsHead                4926 non-null   float64
 13  Longacc                4926 non-null   float64
 14  Latacc                 4926 non-null   float64
 15  rel-height             4926 non-null   float64
dtypes: float64(16)
memory usage: 814.2 KB

In [123]:
df_only1_row = df[df['y'] == 1]

In [125]:
df_only1_row.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2295 entries, 7105 to 50455
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   y                      2295 non-null   float64
 1   time                   2295 non-null   float64
 2   sats                   2295 non-null   int64
 3   long                   2295 non-null   float64
 4   lat                    2295 non-null   float64
 5   velocity               2295 non-null   float64
 6   heading                2295 non-null   float64
 7   height                 2295 non-null   float64
 8   vert-vel               2295 non-null   float64
 9   GPS-Longacc            2295 non-null   float64
 10  turn-radius            2295 non-null   float64
 11  Centre-Line-Deviation  2295 non-null   float64
 12  AbsHead                2295 non-null   float64
 13  Longacc                2295 non-null   float64
 14  Latacc                 2295 non-null   float64
 15  rel-height             2295 non-null   float64
dtypes: float64(15), int64(1)
memory usage: 384.8 KB

# adding the dropped rows in reduced DF

In [127]:
final_df = pd.concat([df1,df_only1_row])

In [128]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7221 entries, 0 to 50455
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   y                      7221 non-null   float64
 1   time                   7221 non-null   float64
 2   sats                   7221 non-null   float64
 3   long                   7221 non-null   float64
 4   lat                    7221 non-null   float64
 5   velocity               7221 non-null   float64
 6   heading                7221 non-null   float64
 7   height                 7221 non-null   float64
 8   vert-vel               7221 non-null   float64
 9   GPS-Longacc            7221 non-null   float64
 10  turn-radius            7221 non-null   float64
 11  Centre-Line-Deviation  7221 non-null   float64
 12  AbsHead                7221 non-null   float64
 13  Longacc                7221 non-null   float64
 14  Latacc                 7221 non-null   float64
 15  rel-height             7221 non-null   float64
dtypes: float64(16)
memory usage: 1.2 MB

In [129]:
final_df.to_csv("VBOX _supervised_reduced_and_labels.csv",index=False)

In [135]:
final_df = pd.read_csv("VBOX _supervised_reduced_and_labels.csv")

# Scaling_data

In [137]:
from sklearn import preprocessing
col = ['time', 'sats', 'long', 'lat', 'velocity', 'heading', 'height',
       'vert-vel', 'GPS-Longacc', 'turn-radius', 'Centre-Line-Deviation',
       'AbsHead', 'Longacc', 'Latacc', 'rel-height']
mm_scaler = preprocessing.MinMaxScaler()
scaled_array = mm_scaler.fit_transform(df[['time', 'sats', 'long', 'lat', 'velocity', 'heading', 'height',
       'vert-vel', 'GPS-Longacc', 'turn-radius', 'Centre-Line-Deviation',
       'AbsHead', 'Longacc', 'Latacc', 'rel-height']])
scaled_df = pd.DataFrame(scaled_array,columns=df.columns)

/home/ubuntu/.local/lib/python3.6/site-packages/sklearn/preprocessing/data.py:334: DataConversionWarning: Data with input dtype int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

ValueError: Shape of passed values is (51546, 15), indices imply (51546, 16)

In [133]:
scaled_df.to_csv("VBOX _supervised_scaled_reduced_and_labels.csv",index=False)

In [134]:
df.columns

Index(['y', 'time', 'sats', 'long', 'lat', 'velocity', 'heading', 'height',
       'vert-vel', 'GPS-Longacc', 'turn-radius', 'Centre-Line-Deviation',
       'AbsHead', 'Longacc', 'Latacc', 'rel-height'],
      dtype='object')

TypeError: unsupported operand type(s) for -: 'str' and 'str'